<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="ui segment container">
    <h1>Ann's Awesome To Do List:</h1>
    <ul>
      <% for(const task of tasks){ %>
        <li><a href="/tasks/<%= task.id %>"> <%= task.title %> </a> <%= task.done ? "(Done)" : "(Not Done)" %> </li>
      <% } %>
    </ul>
  </div>
</body>
</html>